



@{
    ViewBag.Title = Html.GetResource("AdGroupObjective", "Titles");

    Layout = "~/Views/HouseAd/IndexMaster.cshtml";
}

<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>
