@model IEnumerable<ArabyAds.AdFalcon.Web.Controllers.Model.AppSite.Performance.BaseChartDashboardView>

<script type="text/javascript">
    function topAppSitesGridBinding(args) {
        //args.data = $.extend(args.data,
        //    {
        //        FromDate: $('#DateFrom').val(),
        //        ToDate: $('#DateTo').val(),
        //        MetricValue: $('#metric').val()
        //    });

        //if (loadingTopAppSitesCounter == 0) {
        //    args.preventDefault();
        //    loadingTopAppSitesCounter = 1;
        //}
    };
    function topAppSitesGridData() {
        var a = 
            {
                FromDate: $('#DateFrom').val(),
                ToDate: $('#DateTo').val(),
                MetricValue: $('#metric').val()
            };
        return a;
    };
</script>
<div id="topAppSitesGrid" class="floating-left">
    <br />
    <br />
    <br />


    @(Html.Kendo().Grid(Model)
                 .Name("TopAppSitesGrid")
                 .Columns(columns =>
                 {
                     columns.Bound(p => p.Name).Title(Html.GetResource("AccountName", "TopAccounts")).Width("200px").Sortable(false);
                     columns.Bound(p => p.MetricValueText).Title(Html.GetResource("MetricValue", "Global")).Width("160px").HtmlAttributes(new { style = "text-align:center !important" });

                 })
                 .EnableCustomBinding(true)
                    .DataSource(dataBinding =>
                    {

                        dataBinding.Ajax().Read(read => read.Action("TopAppSitesGrid", "AppOps").Data("topAppSitesGridData")).Total((int)ViewData["total"]).PageSize(ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.PageSize);

                    })
                .Events(clientEvents => clientEvents.DataBinding("topAppSitesGridBinding").DataBound("topAppSitesGridBinding"))
                .Scrollable(scrolling => scrolling.Enabled(false))
                .Sortable(sorting => sorting.Enabled(false))
                .Selectable().Pageable(paging => paging


                .Input(false)
                .Numeric(true)
                .Info(true)
                .PreviousNext(true)
                .Refresh(true)

                .Position(GridPagerPosition.Bottom))
                .Filterable(filtering => filtering.Enabled(false))
                .Groupable(grouping => grouping.Enabled(false)))

    <p style="clear:both">
        @Html.ActionLink(@Html.GetResource("TopAppsitesLink", "TopAccounts"), "AppSitesPerformance", "AppOps", new { id = "appsitesPerformanceLink" })
    </p>
</div>
<div id="topAppSitesChart"  class="floating-right">

  <div id="topAppSitesChartContainer" class="chartContainer"></div>
</div>

