@{
    ViewBag.Title = Html.GetResource("AccountHistory", "Titles");

    Layout = "~/Views/Shared/MasterLayouts/InnerReact.cshtml";
}

<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>
