@model ArabyAds.AdFalcon.Web.Controllers.Model.User.TrialListViewModel
@{
    //ViewBag.Title = Html.GetResource("Header", "Audittrial");
    ViewBag.Title = string.Format("{0} : {1} - {2}", ViewData["AuditTrialSessionType"].ToString(), ViewData["AuditTrialSession"].ToString(), Html.GetResource("Header", "Audittrial"));

    Layout = "~/Views/Shared/MasterLayouts/InnerReact.cshtml";
}

<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>
