<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:/logs/Weblog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="500" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date|[%thread]|%-5level|%logger|%message%newline|%exception" />
    </layout>
  </appender>

	<appender name="WatchFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="c:/logs/webWatch.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="500" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date |Thread [%thread] : %message%newline" />
		</layout>
	</appender>
	
	
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileAppender" />
  </root>
	<logger name="watch">
		<level value="DEBUG" />
		<appender-ref ref="WatchFileAppender" />
	</logger>
	<logger name="ArabyAds.Framework.Context.ContextAsyncCall">
		<level value="ERROR" />
		<appender-ref ref="RollingFileAppender" />
	</logger>


 
</log4net>