
<div id="ImpressionTrackerTextDialog" class="adfalcon-dialog" title="@Html.GetResource("ImpressionTrackerScript")" style="display:none;overflow:visible">

    <div class="data-row data-container">
        <div class="data-row data-container">


            <div class="label-container">
                @*<span class="field-title required-field">Impression Tracker script</span>*@
            </div>
            <div class="field-container">

                <textarea class="text-box" cols="20" id="ImpressionTrackerTextBox" name="ImpressionTrackerTextBox" rows="2" style="width:430px;height:180px;" spellcheck="false"></textarea>

                @*<img name="iconImage" onclick="CopyTrackingUrl();" title="@Html.GetResource("Copy_1", "Commands")" class="copyicon" style="display: inline;">*@
            </div>

        </div>

    </div>
</div>