.card {
  width: 100%;
  padding-bottom: 30px;
  height: 100%;
  border: none;
  background-color: transparent;
  
  &.card--not-full-height {
    height: auto;
  }
}

.card-body {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  
  @include themify($themes) {
    background-color: themed('colorBackground');
  }
}

.card__title {
  @include directify($directions) {
    text-align: directed('left');
  }
  h5.card__title-center {
    text-align: center;
  }
  margin: 10px 0 60px 0;
  position: relative;

  &:not(:first-child) {
    margin-top: 40px;
  }

  .subhead {
    text-transform: none;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.7;
    margin-top: 3px;
  }

  * {
    margin-bottom: 0;
  }

  h5 {
    position: absolute;
    left: 40px;
    top: 0;
    font-size: 18px;
  }

  & i {
    position: absolute;
    top: -20px;
    left: -5px;
    font-size: 36px;
    color: #eee;
    float: left;
  }
}

.squared-corner-theme {

  .card-body {
    border-radius: 0;
  }
}

.blocks-with-shadow-theme {

  .card-body {
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.06);
  }
}