@{
    ViewBag.Title = Html.GetResource("Menu", "SSPSites");
    Layout = "~/Views/Partner/IndexMaster.cshtml";
}
@model ArabyAds.AdFalcon.Web.Controllers.Model.BusinessPartners.SitesListViewModel

@section subheader
   {

    <div class="data-row sub-header">
        <div class="sub-header-left">
        </div>
        <div class="sub-header-center iea-sub-header-width">
            <div class="data-row">
                <div class="floating-left iea-go-right sub-header-item-container objective-header">
                    <div class="sub-header-title">
                        @Html.GetResource("SSPPartners", "SiteMapLocalizations")
                    </div>
                    <div class="sub-header-text">
                        @Model.BusinessName
                    </div>
                </div>

            </div>
        </div>
        <div class="sub-header-right">
        </div>
    </div>
}
@section Grid1 {


    @(Html.Kendo().Grid(Model.Items)
                        .Name("GridPartner")
                        .Columns(columns =>
                        {

                            columns.Template("<input type='checkbox' name='checkedRecords' value='#= ID #' />").Width(36).HtmlAttributes(new { style = "text-align:center" });

                            columns.Bound(o => o.SiteName).Title(Html.GetResource("Name", "SSPSites")).Width(100)
                                .ClientTemplate("<div class='grid-title-container floating-left'><a href=\"" + Url.Action("SiteZones", "Partner") + "/#= ID#" + "/" + Model.BusinessId + "\">#= SiteName#</a> </div><div class='grid-cogwheel-container floating-right go-right'> <div class='cogwheel' item_extra_info=\"#= SiteName#\" onclick='showGridToolTip(#= ID#,this)'><a href='javaScript:void(0);' >&nbsp</a></div></div>");
                            columns.Bound(o => o.SiteID).Title(Html.GetResource("SiteID", "SSPSites")).Width(50).HtmlAttributes(new { @class = "go-center" });


                        }).EnableCustomBinding(true)
                        .DataSource(dataBinding =>
                        {
                            //dataBinding.Server().Select("Impersonate", "AccountManagement", new { ajax = true });
                            //dataBinding.Ajax().Select("_MyUsers", "User");
                            dataBinding.Ajax().Read(read => read.Action("_Sites", "Partner", new { Id= Model.SiteId }).Data("BusinessPartnersGridData")).PageSize(ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.PageSize);

                        })
                        .Events(clientEvents => clientEvents.DataBinding("BusinessPartnersGridDataBinding").DataBound("BusinessPartnersGridDataBound"))
                        .Scrollable(scrolling => scrolling.Enabled(false))
                        .Selectable().Pageable(paging => paging


            .Input(false)
            .Numeric(true)
            .Info(true)
            .PreviousNext(true)
            .Refresh(true)

            .Position(GridPagerPosition.Bottom)).Filterable(filtering => filtering.Enabled(false))
            .Groupable(grouping => grouping.Enabled(false)))
   
    <br />
    <br />
}





