
<div class="go-left" style="margin:13px;">
@Html.Raw(string.Format(Html.GetResource("secussMsg", "AppSite"), Url.GetPublicPageUrl("download-sdk.html"), Url.Action("create", "appsite", new { id = ViewBag.Id })))
</div>


