
.revslider-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 500px;
	background:#fff!important;
}


.tp-simpleresponsive .caption {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
}
.tp-simpleresponsive img {
    max-width: none;
	max-height: 550px;
	
}


/******************************
    -   IE8 HACKS   -
*******************************/

.noFilterClass {
    filter: none !important;
}


/******************************
    -   SHADOWS     -
******************************/

.tp-bannershadow {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.tp-bannershadow.tp-shadow1 {
    bottom: -30px;
    width: 890px;
    height: 30px;
    background: url(../images/revslider/assets/shadow1.png) no-repeat;
    background-size: 100%;
}
.tp-bannershadow.tp-shadow2 {
    bottom: -60px;
    width: 890px;
    height: 60px;
    background: url(../images/revslider/assets/shadow2.png) no-repeat;
    background-size: 100%;
}
.tp-bannershadow.tp-shadow3 {
    bottom: -60px;
    width: 890px;
    height: 60px;
    background: url(../images/revslider/assets/shadow3.png) no-repeat;
    background-size: 100%;
}


/********************************
    -   FULLSCREEN VIDEO    -
*********************************/

.caption.fullscreenvideo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.caption.fullscreenvideo iframe {
    width: 100% !important;
    height: 100% !important;
}


/*************************
    -   CAPTIONS    -
**************************/
.revslider h1, .revslider h2, .revslider h3, .revslider h4, .revslider h5 {
   font-family: 'Ubuntu', sans-serif;
}
.revslider h1 {
   font-size:60px;
}
.revslider h2 {
   font-size:40px;
}
.revslider h3 {
   font-size:30px;
}
.revslider h4 {
   font-size:18px;
}
.revslider h5 {
   font-size:14px;
}
.revslider .caption.big_black {
    position: absolute;
    color: #333;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 56px;
    line-height: 1em;
}
.revslider .caption.big_black.center {
    text-align: center;
    text-transform: uppercase;
    font-size: 95px;
}
.revslider .caption.medium_white {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4em;
}
.revslider .caption.medium_white.center {
    font-size: 42px;
}
.revslider .caption.medium_grey {
    position: absolute;
    margin: 0px;
    padding: 2px 4px;
    border-width: 0px;
    border-style: none;
    color: #fff;
    text-shadow: none;
    white-space:nowrap;
    font-weight: 700;
    font-size: 20px;
    font-family: Arial;
    line-height: 20px;
}
.revslider .caption.small_text {
    position: absolute;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    color: #fff;
    text-shadow: none;
    white-space:nowrap;
    font-weight: 700;
    font-size: 14px;
    font-family: Arial;
    line-height: 20px;
}
.revslider .caption.medium_text {
    position: absolute;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    color: #fff;
    text-shadow: none;
    white-space:nowrap;
    font-weight: 700;
    font-size: 20px;
    font-family: Arial;
    line-height: 20px;
}
.revslider .caption.large_text  {
    position: absolute;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    color: #fff;
    text-shadow: none;
    white-space:nowrap;
    font-weight: 700;
    font-size: 40px;
    font-family: Arial;
    line-height: 40px;
}
.revslider .caption.very_large_text {
    position: absolute;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    color: #fff;
    text-shadow: none;
    white-space:nowrap;
    letter-spacing: -2px;
    font-weight: 700;
    font-size: 60px;
    font-family: Arial;
    line-height: 60px;
}
.revslider .caption.very_big_white  {
    position: absolute;
    margin: 0px;
    padding: 0px 4px;
    padding-top: 1px;
    border-width: 0px;
    border-style: none;
    color: #fff;
    text-shadow: none;
    white-space:nowrap;
    font-weight: 700;
    font-size: 60px;
    font-family: Arial;
    line-height: 60px;
}
.revslider .caption.very_big_black  {
    position: absolute;
    margin: 0px;
    padding: 0px 4px;
    padding-top: 1px;
    border-width: 0px;
    border-style: none;
    color: #000;
    text-shadow: none;
    white-space:nowrap;
    font-weight: 700;
    font-size: 60px;
    font-family: Arial;
    line-height: 60px;
}
.revslider .caption.boxshadow   {
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}
.revslider .caption.black {
    color: #000;
    text-shadow: none;
}
.caption.noshadow {
    text-shadow: none;
}
.revslider .button {
    position: absolute;
}
.btnlink {
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	text-decoration: none;
	border:2px solid #e5e5e5;
	border-radius:3px;
	padding:12px 20px;
	text-decoration:none;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	-moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	-ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	-o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	top:20px!important;
	font-size:14px;
	letter-spacing:0.1em;
	position:relative;
}

/** BULLETS **/
.tp-bullets {
    position: absolute;
    bottom: 10px;
    z-index: 100;
}
.tp-bullets.simplebullets {
    bottom: 10px;
}
.tp-bullets.simplebullets.navbar {
    bottom: -20px;
    margin-top: -17px;
    padding: 0px 0px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/revslider/assets/navigdots_bgtile.png);
}
.tp-bullets.simplebullets .bullet {
    position: relative;
    float: left;
    margin-top: -12px; 
    margin-right: 0px;
    width: 23px;
    height: 23px;
    background: url(../images/revslider/assets/bullets.png) no-repeat bottom left;
    cursor: pointer;
}
.tp-bullets.simplebullets .bullet.last {
    margin-right: 0px;
}

/** SQUARE BULLETS **/
.tp-bullets.simplebullets.square .bullet {
    position: relative;
    float: left;
    margin-top: -10px; 
    margin-right: 0px;
    width: 19px;
    height: 19px;
    background: url(../images/revslider/assets/bullets2.png) no-repeat bottom left;
    cursor: pointer;
}
.tp-bullets.simplebullets.square .bullet.last {
    margin-right: 0px;
}

/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar .bullet {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-right: 5px !important; 
    margin-left: 5px !important;
    width: 15px;
    height: 15px;
    background: url(../images/revslider/assets/navigdots.png) no-repeat bottom left;
    cursor: pointer;
}
.tp-bullets.simplebullets.navbar .bullet.first {
    margin-left: 30px !important;
}
.tp-bullets.simplebullets.navbar .bullet.last {
    margin-right: 30px !important;
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected  {
    background-position: top left;
}


/*************************************
    -   TP ARROWS   -
**************************************/

.tp-leftarrow.navbar {
    position: relative;
    z-index: 100;  
    float: left;
    margin-top: -8px;
    margin-right: -20px;
    width: 9px;
    height: 16px;
    background: url(../images/revslider/assets/arrowleft.png) no-repeat top left;
    cursor: pointer;
}
.tp-rightarrow.navbar {
    position: relative;
    z-index: 100;
    float: left;
    margin-top: -8px;
    margin-left: -20px;
    width: 9px;
    height: 16px;
    background: url(../images/revslider/assets/arrowright.png) no-Repeat top left;
    cursor: pointer;
}
.tp-leftarrow.navbar.thumbswitharrow {
    margin-right: 10px;
}
.tp-rightarrow.navbar.thumbswitharrow {
    margin-left: 0;
}
.tp-leftarrow.square {
    position: relative;
    z-index: 100;
    float: left;
    margin-top: -9px;
    margin-right: 0;
    width: 12px;
    height: 17px;
    background: url(../images/revslider/assets/arrow_left2.png) no-Repeat top left;
    cursor: pointer;
}
.tp-rightarrow.square {
    position: relative;
    z-index: 100;
    float: left;
    margin-top: -9px;
    margin-left: 0;
    width: 12px;
    height: 17px;
    background: url(../images/revslider/assets/arrow_right2.png) no-Repeat top left;
    cursor: pointer;
}
.tp-leftarrow.large, .tp-rightarrow.large {
    position: relative;
    top: 40%!important;
    left: 6%!important;
    z-index: 100;
    display: block;
    margin-top: -20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border:3px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 45px;
    -webkit-transition: background-color .3s ease;
	cursor: pointer;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}
.tp-rightarrow.large {
    right: 6%;
    left: auto !important;
}

.tp-leftarrow:hover, .tp-rightarrow:hover {
     border:3px solid #fff;
	
}

.tp-rightarrow.large:before {
    color: rgba(255, 255, 255, 0.5);
    content: '\f054';
    font-family: FontAwesome;
}
.tp-rightarrow:hover.large:before {
    color: rgba(255, 255, 255, 1);
   
}
.tp-leftarrow.large:before {
    color: rgba(255, 255, 255, 0.5);
    content: '\f053';
    font-family: FontAwesome;
}
.tp-leftarrow:hover.large:before {
    color: rgba(255, 255, 255, 1);
   
}

/****************************************************************************************************
    -   TP THUMBS   -
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/


.tp-bullets.tp-thumbs {
    position: absolute;
    z-index: 100;
    margin-top: -50px;
    padding: 3px;
    width: 500px;
    height: 50px;           /* THE DIMENSIONS OF THE THUMB CONTAINER */
     background-color: #fff;
}
.fullwidthbanner-container .tp-thumbs {
    padding: 3px;
}

.tp-bullets.tp-thumbs .tp-mask {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 50px;           /* THE DIMENSIONS OF THE THUMB CONTAINER */
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    position: absolute;
    width: 5000px;
}
.tp-bullets.tp-thumbs .bullet {
    float: left;
    overflow: hidden;
    margin: 0;
    width: 100px;
    height: 50px;           /* THE DIMENSION OF A SINGLE THUMB */
    background: none;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* filter: alpha(opacity=50); */
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}
.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected {
    opacity: 1; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
}
.tp-thumbs img {
    width:100%;
}
.divider_small_white
{
    border-top:1px solid #fff;
	height:1px;
}

/************************************
        -   TP BANNER TIMER     -
*************************************/
.tp-bannertimer {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 10px;
    background: url(../images/revslider/assets/timer.png);
}
.tp-bannertimer.tp-bottom {
    top: 0px !important;
    height: 5px;
}


/***************************************
    -   RESPONSIVE SETTINGS     -
****************************************/

    @media only screen and (min-width: 768px) and (max-width: 959px) {

     }


    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .responsive .tp-bullets.tp-thumbs {
            width: 300px !important;
            height: 30px !important;
        }
        .responsive .tp-bullets.tp-thumbs .tp-mask {
            width: 300px !important;
            height: 30px !important;
        }
        .responsive .tp-bullets.tp-thumbs .bullet {
            width: 60px !important;
            height: 30px !important;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 479px) {
        .responsive .tp-bullets {
            display: none;
        }
        .responsive .tparrows {
            display: none;
        }
		
		
    }


/*********************************************

    -   BASIC SETTINGS FOR THE BANNER   -

***********************************************/

.tp-simpleresponsive img {
    -webkit-user-select: none;
       -moz-user-select: none;
     -khtml-user-select: none;
         -o-user-select: none;
}
.tp-simpleresponsive a {
    text-decoration: none;
}
.tp-simpleresponsive ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tp-simpleresponsive > ul > li {
    position: absolute;
    visibility: hidden;
    list-stye: none;
}

/*  CAPTION SLIDELINK   **/
.caption.slidelink a div {
    width: 10000px;
    height: 10000px;
    background: url(../images/revslider/assets/coloredbg.png) repeat;
}
.tp-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #333 url(../images/loader.gif) no-repeat 8px 8px;
}




