<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="noqoush.Settings" type="System.Configuration.NameValueSectionHandler" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true"/>

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="ConnectionStringVal" value="server=192.168.2.25;User Id=root;Password=pass@word1;database=adfalcon_web_dev;Persist Security Info=True;Charset=utf8;"/>
    <add key="MIGS" value="jQKzQggvN+DBEw3u5mQUax6Fou4mAxQPEcG75Q9wGjgQxYqjoEurSodYiaJxoFh+1QqjDCRz9edU2Mt9J8xmwUIUztwhgsHWHq6pGsepUvPOphTF+wYQ5nP1wc7esQYHwKbhWq3WD68Xs7bXZMurd9nEOwPT/PJZ8FVKUZPXmAMQPFV1+j2kMKUveInHMVegBJ6XXUXYGDKiCCfzdlONJUkYmbpFjLAix5oOWeT7+YEotXUXE/AcrUw4TZD/zz5LU1nxMDOvhQwis+ktfRz0W7rJ+/Dt8U7PL+iAnajVd4O+4WLWROZZ4nYmHbK2+jfpnKBd2PCGKeLF3L9VNxPqAFu0jGm3WaYSxcJK8HEV73hcDlyZio9E98eaDlnk+/mBKLV1FxPwHK0wBpE61bniRzTOjwSYurKAB53oNMV/YUQW9XO7MrsK1Gj8ReqVVPRrVNjLfSfMZsHyLUTWiQDDe7k0Rqw+4gx0n+OyNG/wBoqaITFoGf4P2i/ogJ2o1XeDvuFi1kTmWeLIY6f1nIfocLDe/QUjNbQrNM6PBJi6soCc6E68ngIhuyFfsKqOo9hQGmshHmse1Nc6HXHug2NpxUoHXWRLwHV1c/XBzt6xBgfApuFardYPr8fgHPQQ4Wpi4guYZTgVtzH0mrx6PEpylYs9uwDHgucML+iAnajVd4O+4WLWROZZ4nYmHbK2+jfpo8oJOmvyGrE1lfz5V32vclDyRGyZ75mLdmPVxV83kK9z9cHO3rEGB8Cm4Vqt1g+v8J2cbra4e451HVLbTBKra99wyoMW+cfMVhBaR6FSnU9zNiCxNJBSoDESyPYgai4sFzA/+ak1pwntTMjy9mJlFw=="/>
    <add key="USER" value="lnymnCuItni4iyUzoC8e8ft/eKVYu2y6XE2FAkrPY4HBC2a+N1+P+A=="/>
    <add key="PWD" value="GjMjL9jdEPU/zOXN85rAfcmrBTAmDJTQ"/>
    <add key="SIGNATURE" value="UWaa4nuA0IoQeuaDqfDh6jMOrvHjvZWwiAxstsKJ42BEM7d/heP6nBEDs2eVEjpoY83XmXr5JzvJqwUwJgyU0A=="/>

  </appSettings>

  <configProtectedData>
    <providers>
      <add useMachineProtection="true" name="DPAPIProtection" type="System.Configuration.DpapiProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </providers>
  </configProtectedData>

  <noqoush.Settings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA326wG05x9Ui6vqkcNCuFMQQAAAACAAAAAAAQZgAAAAEAACAAAACtWVoxu8J/0ce4f8FmYVuKerdv9mq0cAj9RH9ZpEbPGwAAAAAOgAAAAAIAACAAAAD2oWdWkk9LMEOkf9TbbxdCaIo0CO70HDDarRl3O1j3lMAAAAB8cTuApXL8F3MiFFfdauxQkEYpt8qIS22WdI9EgaNb2SOPij8EfghRcieIgqdrK3wy4o+yJgKKha/BMoaILyB38+QEE2or+cyAXdNr+UF+dQWXur0qjFj68KHC0jx4jj9vKVViI6kzi0AxlsEn6Pv+UwrtEPNHNAABYPTYx1dOr9ltsKi/ixx8nEIeD6U95UTrduINOFCF06cVhEdMt93IY7RxChZtatovZW7JOFYjL4GZcYOP0tSPQG9J7lNk6JRAAAAAxOrm5d0tt02hyYPN9TacrmtQorqFkiq4SBF/XPXJBzvYGUlu25mjJG7d9a4je+kGfMpXkAqMyornNS1hGJKlZQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </noqoush.Settings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
