@{
    ViewBag.Title = !string.IsNullOrEmpty(Model.AdvertiserAccountName) ?
        Model.AdvertiserAccountName + " : " + Html.GetResource("Campaign", "Titles") :
        Html.GetResource("Campaign", "Titles");
    Layout = "~/Views/Campaign/IndexMaster.cshtml";
}

<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>
