$font-stack: 14px Helvetica, sans-serif;
$primary-color: #333333;
$button-color: #60a21d;
$header-color: linear-gradient(#283f60, #45638f);
$form-color: linear-gradient(#f7f7f7, #fefefe, #f7f7f7);

$direction: rtl;
