@{
    ViewBag.Title = Html.GetResource("ImpressionLogs", "DPP");
    Layout = "~/Views/ImpressionLog/IndexMaster.cshtml";
}
<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>

