<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="true"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\logger\Debug\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="500"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|[%thread]|%-5level|%logger|%message%newline|%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="RollingFile"/>
    </root>
    <logger name="Combres">
      <level value="DEBUG"/>
    </logger>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Framework">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
        </exceptionTypes>
      </add>
      <add name="Domain">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
        </exceptionTypes>
      </add>
      <add name="Service Layer">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
        </exceptionTypes>
      </add>
      <add name="UI">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add logCategory="Error" eventId="100" severity="Error" type="Noqoush.Framework.ExceptionHandling.LogExceptionHandler,Noqoush.Framework" name="Error Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataCacheClient>
    <securityProperties mode="None" protectionLevel="None"></securityProperties>
    <hosts>
      <host name="localhost" cachePort="22233"/>
    </hosts>
  </dataCacheClient>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxBufferSize="20000000"
          maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Noqoush.AdFalcon.Services.Host/{{Name}}Service.svc"
        binding="basicHttpBinding" contract="{{Service}}" name="{{Name}}Client" />
      <endpoint address="http://localhost/Noqoush.Framework.Infrastructure.Services.Host/ResourceService.svc"
        binding="basicHttpBinding" contract="Noqoush.Framework.Resources.IResourceService"
        name="ResourceService" />
      <endpoint address="http://localhost/Noqoush.Framework.Infrastructure.Services.Host/SecurityService.svc"
        binding="basicHttpBinding" contract="Noqoush.Framework.Security.ISecurityService"
        name="STSClient" />
      <endpoint address="http://localhost/Noqoush.Framework.Infrastructure.Services.Host/ConfigurationSettingService.svc"
        binding="basicHttpBinding" contract="Noqoush.Framework.ConfigurationSetting.IConfigurationSettingService"
        name="ConfigurationSettingService" />
    </client>
  </system.serviceModel>
</configuration>
