@model decimal
@{
    Layout = null;
}
@Html.TextBoxFor(m => m, new { maxLength = 50, Class = "special-text-box single-line required" }) 
@*<span id="display_ip_msg" class="validation-arrow field-validation-error"
            style="display: none;"><span class="">ip not valid</span> </span>*@