<script language="javascript" type="text/javascript">
    function generatePartyGrid() {
        var grid = $("#SearchCampaign").data("tGrid");
        grid.rebind();

    };
    function PartyGridDataBinding(args) {
        args.data = $.extend(args.data,
            {
                FromDate: $('#FromDate').val(),
                ToDate: $('#ToDate').val(),
                Name: $('#party-search-dialog-form #Name').val()

            });
    };

    function PartyGridDataBound(e) {
        var grid = $("#SearchCampaign").data("tGrid");
        //if not first page and the no data then try load first page
        if ((grid.data.length == 0) && (grid.currentPage > 1)) {
            e.preventDefault();
            grid.pageTo(1);
        }
    };
    var partyID, partyName;
    function onRowSelected(e) {

        partyID = jQuery(e.row.cells[0]).text();
        partyName = jQuery(e.row.cells[1]).text();
        selectParty();
    }
    function selectParty() {
        changeParty(partyID, partyName);
    }


</script>
@model ArabyAds.AdFalcon.Services.Interfaces.DTOs.Campaign.CampaignListResultDto

<div>
    <div class="data-row go-center">
        <div class="blue-filter-container">
            <table class="special-content">
                <tr>
                    <td>
                        <span class="go-bold">@Html.GetResource("Name", "Global")</span>
                    </td>
                    <td style="width: 110px;">
                        <input type="text" id="Name" name="Name" class="text-box " />
                    </td>

                    <td>
                        <input type="button" onclick="generatePartyGrid()" value='@Html.GetResource("Filter")' class="btn filter-button " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="tail">
        </div>
    </div>

    @*@Html.Partial(Model.FilterView)*@

    <div class="grid-container">
        @(Html.Telerik().Grid(Model.Items)
                            .Name("SearchCampaign")
                    .Columns(columns =>
                                 {
                                     columns.Bound(o => o.Id);
                                     columns.Bound(o => o.Name).ClientTemplate("<div class='grid-title-container floating-left'><span class='go-center'><#= Name#></span> </div>").Title(Html.GetResource("Name")).HtmlAttributes(new { @class = "go-center" });
                                 })
                                                                            .DataBinding(dataBinding => dataBinding.Ajax().Select("_CampaignSearch", "Campaign")).EnableCustomBinding(true)
                        .ClientEvents(clientEvents => clientEvents.OnRowDataBound("onRowDataBound").OnDataBinding("PartyGridDataBinding").OnDataBound("PartyGridDataBound").OnRowDataBound("onRowDataBound").OnRowSelect("onRowSelected"))
                        .Scrollable(scrolling => scrolling.Enabled(false))
                        .Selectable()
                                .Pageable(paging => paging.PageSize(ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.PageSize).Total(int.Parse(ViewData["total"].ToString())).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
                        .Filterable(filtering => filtering.Enabled(false))
                        .Groupable(grouping => grouping.Enabled(true)).Footer(true))
    </div>

</div>