@using ArabyAds.AdFalcon.Domain.Common.Model.Core
@model ArabyAds.AdFalcon.Web.Controllers.Model.Campaign.DeviceTargetingViewModel
<div class="section-form-inner-container info-container tab-pane fade in active" tabsection="1" id="deviceSection"
    style="display: block;">
    @Html.Partial("Targeting/InnerDevice", Model)
</div>
