test
<script type="text/javascript">
    var isDDss = true;
</script>
<div id="home"></div>
@*<div id="app"></div>*@


@*<script src="~/Scripts/bundle.js"></script>*@
<script src="~/publish/home.bundle.js"></script>