@{
    ViewBag.Title = Html.GetResource("PMPDeals", "Titles");
    Layout = "~/Views/Deals/IndexMaster.cshtml";
    //string ExtraPrams = string.Format("\"{0}\"", "?AllowGlobalization=" + AllowGlobalization);

}
<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>
