@model IEnumerable<Noqoush.AdFalcon.Web.Controllers.Model.Core.UploadViewModel> 
<div class="section-form-inner-container info-container">
    <div class="ad-banner-container-right floating-right">
       
    </div>
    <div class="ad-banner-container-left floating-left">
        <br />
        @{
            foreach (var uploadViewModel in Model)
            {
                @Html.Partial("Upload",uploadViewModel)
            }
        }

    </div>
</div>
