@model IList<ArabyAds.AdFalcon.Services.Interfaces.DTOs.Campaign.Creative.AdCreativeUnitDto> 
@foreach (var adCreativeUnit in Model)
{
     <br/>
    <div class="info-container last-container" style="display: block;">
        <div class="data-container">
            <div class="label-container">
                <span class="field-title required-field reverse-link">@(adCreativeUnit.Name)</span>
            </div>

            <div class="field-container ad-creative-unit-mid">
                <textarea class="text-box" cols="20" readonly="readonly" rows="7">@adCreativeUnit.Content</textarea>

            </div>
        </div>
    </div>
}