@{
    ViewBag.Title = Html.GetResource("ReportTemplate", "Report");
    Layout = "~/Views/Reports/IndexJobMaster.cshtml";
}
<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>

