<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="noqoush.Settings" type="System.Configuration.NameValueSectionHandler" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  
  <configProtectedData>
    <providers>
      <add useMachineProtection="true" name="DPAPIProtection"
           type="System.Configuration.DpapiProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>

  <!--<noqoush.Settings configProtectionProvider="DPAPIProtection">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAADkoSCTYOCE+DX5fEVaQS7AQAAAACAAAAAAAQZgAAAAEAACAAAACs08Lm/escJFb2jq5+teiqqN5sJkO7puS5hFIBQv9JwAAAAAAOgAAAAAIAACAAAAD8s85jzUASIbwiXTDqUn6VS80xC7bIxIJN5SKshNgnxcAAAAB0Uk+bxnELgJ6AFqhToEvvCKbHsSiFLTM/bz19LsyAAK5wlM5AXcZ1orL4+vZ5E//a3pLw9P9z+Qz3F7UEfT0XtElU+bTZiaDUZZwvxGvpCifZJlYOawowDxju8raPqd7DUB56Lgnay8i0+otWl56RzQB7ymuXG4HZlnQesP54E+mk6+PdoxskJ8x+HcF3xYybqeoXyw7w/YjIFsNsTuN7aVMWc9lAcp2M+BfFgH2DoSgfnD2+N4zGlp5tImn03dZAAAAAXlMBZrrdJuOotB+F9IIVOrKYbUiNlMJSPejO0TZ6pbEU+qbtLphgexIP2jBN8GSuOSXnBgB0C5J1p46MO7xe/g==</CipherValue>
      </CipherData>
    </EncryptedData>
  </noqoush.Settings>-->

  <noqoush.Settings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAV8OLoTQX6k+pIg1y1bozZQQAAAACAAAAAAADZgAAwAAAABAAAAAY7Dj56mLV8i1WYKr0S7n1AAAAAASAAACgAAAAEAAAAOambJxq/q8eV97D4j6/8dzQAAAAetbVRd3CAonZbYt5BRNmz+3eNUxM4QAaS/CAWxRkRTquWv1pKB1Ksg1QFBJbDu2k2DZ0sz0SqcPVkwpZuLL7ophrYUftppi/NJacjsh5vj8KQBqAWxDcmY2Y5R/ZTaSaJQwqsK6+m0dH6t4496mOXgCoatEglEtFLI+AyhgXxrqtysG/ZtlB4hcrIL4ZA/0CDfd0UrvxORfzS8fb19ypd8ryJo7igSYm4C7fkTB6rkXJ8WSviCAOUEQxHDptIRy9cZ+WTw8/3mx60ErKfcwgORQAAAC42PgmhkeJgdGk3sZWds4Eud5byQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </noqoush.Settings>

</configuration>
