@using ArabyAds.AdFalcon.Services.Interfaces.DTOs.Campaign
@using ArabyAds.AdFalcon.Services.Interfaces.DTOs.Core
<div class="section-form-inner-container">
<div class="data-row">
<div class="dashboard-left-side floating-left">
    <div class="data-row data-container">
        <div class="data-row" id="gchartImage">
            @*<img id="chartImage" class="chartImage" />*@
        </div>
    </div>
</div>
<div class="report-right-side floating-left">
    <div class="grid-container data-row">
        @(Html.Kendo().Grid((ViewData["Metrics"] as List<MetricDto>))
			.Name("Metrics").Columns(columns =>
					{
						columns.Bound(p => p.Name).ClientTemplate( Html.GetRadioButton("metric", "&nbsp; " +"#=Name.Value#"+ "" + "&nbsp;", false, "", "generateGoogleChartImage", "#=Code#").ToHtmlString()).Title(Html.GetResource("Name", "Global"));
						columns.Template("<div class='colored-box' style='background-color:#=Color#'></div>").Width(20);
					})
					)

    </div>
</div>
@Html.RegisterScriptBlock(string.Format("var chartImageUrl='{0}'", Url.Action("GGenerateCampaignChart", "reports")))
<script type="text/javascript">
    $(document).ready(function () {
        radioBox($("[name=metriccontainer]")[0]);
        // $("[name=metriccontainer]").click(generateGoogleChartImage);
        if (AccountRole == "DSP") {
            SetSelectedTap("ListMenuReports");
        } else {
            SetSelectedTap("ListMenuAdvertiser");

        }
    });
</script>
</div>
</div>