@model  Noqoush.AdFalcon.Services.Interfaces.DTOs.Campaign.Creative.AdCreativeSummaryDto
@{
    Layout = null;
}

@{
	if (Noqoush.AdFalcon.Web.Controllers.Utilities.Config.IsAdmin || Noqoush.Framework.OperationContext.Current.UserInfo<Noqoush.AdFalcon.Common.UserInfo.AdFalconUserInfo>().AccountRole == (int)Noqoush.AdFalcon.Domain.Common.Model.Account.AccountRole.DSP)
	{

		int i = 0;
		foreach (var item in Model.ActionValue.Trackers)
		{
            <div class="data-row info-container last-container">
                <div class="data-row data-container">
                    <div class="label-container">
                        <span class="field-title required-field">
                            @if (i == 0)
                    {
                                @Html.GetResource("TrackerUrls")
                            }
                            else
                            {
                                <text>&nbsp;</text>
                            }
                        </span>
                    </div>
                    <div class="field-container">
                        <a class="side-text" href="@item.URL" target="_tab">@item.URL</a>
                    </div>
                </div>
            </div>
            {
                i++;
            }
        }
    }
}