@using ArabyAds.AdFalcon.Administration.Web.Controllers.Core.ViewComponents.Campaign
@model ArabyAds.AdFalcon.Web.Controllers.Model.Tree.TreeViewModel
<div id="bidDialog-form" title="@Html.GetResource("CopyAppsitesToAds", "Ad")" style="display: none; ">
    <div class="go-left data-row">
        @Html.GetResource("CopyAppsitesToAdsDesc", "Ad")
        <p>
            <b>@Html.GetResource("AdFromSameAdGroupNote", "Ad")</b>
        </p>
        <div class="data-row data-container">
            @await Html.PartialAsync("Tree", Model)
        </div>
    </div>
</div>