@using Noqoush.AdFalcon.Services.Interfaces.DTOs.Reports
@model List<AdPerformanceDto>
@{
    
}
@(Html.Telerik().Grid(Model)
                    .Name("Grid")
                    .Columns(columns =>
                                 {
                                     columns.Bound(o => o.CampaignName).Title(Html.GetResource("CampaignName", "AdChart")).HtmlAttributes(new { Width = "50px" });
                                     columns.Bound(o => o.Impress).Title(Html.GetResource("Impress", "AdChart"));
                                     columns.Bound(o => o.Clicks).Title(Html.GetResource("Clicks", "AdChart"));
                                     columns.Bound(o => o.CtrText).Title(Html.GetResource("CTR", "AdChart"));
                                     columns.Bound(o => o.AvgCPCText).Title(Html.GetResource("AvgCPC", "AdChart"));
                                     columns.Bound(o => o.SpendText).Title(Html.GetResource("Spend", "AdChart"));
                                 })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Server().Select("adPerformance", "dashboardTest");
                        dataBinding.Ajax().Select("adPerformance", "dashboardTest");

                    })
                        .Scrollable(scrolling => scrolling.Enabled(false))
                        .EnableCustomBinding(true)
                              .Pageable(paging => paging.PageSize(10).Total(int.Parse(ViewData["total"].ToString())).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
                              .Groupable(grouping => grouping.Enabled(false)).Footer(true))
<br />
<div class="data-row">
    <a href="javascript:void(0)" onclick='performanceExport("excel")' class="export-icon-excel floating-left">
    </a><a href="javascript:void(0)" onclick='performanceExport("csv")' class="export-icon-cvs floating-left">
    </a><a href="javascript:void(0)" onclick='performanceExport("pdf")' class="export-icon-pdf floating-left">
    </a>
</div>
@Html.RegisterScriptBlock(string.Format("var performanceExportUrl='{0}'", Url.Action("adPerformanceExport", "dashboardTest")))