@model ArabyAds.AdFalcon.Services.Interfaces.DTOs.AppSite.AppSiteListResultDto

<input type="hidden" name="DestinationAppSites" />

@*@{
    var disbalastedst = "";
    if (Model.PreventEdit)
    {
        disbalastedst = "disabled";

    } }*@
@(Html.Kendo().Grid(Model.Items)
            .Name("Grid")
            .Columns(columns =>
            {

                columns.Template("<input onclick='select_app_site(this)' type='checkbox' name='selected_item_id' value='#= Id #' />").Title("").Width(36).HtmlAttributes(new { style = "text-align:center" });
                                         
                columns.Bound(o => o.Name).ClientTemplate("<div class='grid-title-container floating-left'><a href=\"" + Url.Action("Create", "AppSite") + "/#= Id#\">#= Name#</a> </div><div class='grid-cogwheel-container floating-right go-right'></div>").Title(Html.GetResource("Name", "AppSite")).Width("150px"); ;


                columns.Bound(o => o.Name).ClientTemplate("<div class='grid-title-container floating-left'><a href=\"" + Url.Action("Create", "AppSite") + "/#= Id#\">#= Name#</a> </div><div class='grid-cogwheel-container floating-right go-right'></div>").Title(Html.GetResource("Name", "AppSite")).Width("150px"); ;
                columns.Bound(o => o.Type).Title(Html.GetResource("Type", "AppSite")).Width("70px");
                columns.Bound(o => o.RegistrationDate).Title(Html.GetResource("RegistrationDate", "AppSite")).Width("100px").Format("{0:" + ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.ShortDateFormat + "}").HtmlAttributes(new { @class = "go-center" });
                columns.Bound(o => o.Status).Title(Html.GetResource("Status", "AppSite")).Width("80px");


            }).EnableCustomBinding(true)
            .DataSource(dataBinding =>
            {
                dataBinding.Ajax().Read(read => read.Action("_IndexPartial", "AppSite").Data("AppSitePartialData")).PageSize(ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.PageSize);

            })
            .Events(clientEvents => clientEvents.DataBinding("appSitePartialIndexGridDataBinding").DataBound("appSitePartialIndexGridDataBound"))
            .Scrollable(scrolling => scrolling.Enabled(false))
            .Sortable(sorting => sorting.SortMode(GridSortMode.SingleColumn))
            .Selectable().Pageable(paging => paging


            .Input(false)
            .Numeric(true)
            .Info(true)
            .PreviousNext(true)
            .Refresh(true)

            .Position(GridPagerPosition.Bottom))
            .Filterable(filtering => filtering.Enabled(false))
            .Groupable(grouping => grouping.Enabled(false)))
