@model ArabyAds.AdFalcon.Web.Controllers.Model.AppSite.KeywordViewModel
@{
    
}


<div class="section-form-inner-container info-container">
  @await Html.PartialAsync("partialviews/keyword", Model)
</div>