@{
    ViewBag.Title = Html.GetResource("Advertisers", "Global");
    Layout = "~/Views/Campaign/Advertiser/IndexMaster.cshtml";
    string DeteleCheckBox = Model.PreventEdit ? "<input type = 'checkbox' name = 'checkedRecords' value = '#= Id #' disabled />" : "<input type = 'checkbox' name = 'checkedRecords' value = '#= Id #' />";


}

<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>
