@model ArabyAds.AdFalcon.Services.Interfaces.DTOs.Campaign.Creative.AdCreativeUnitDto
<br />
<div class="data-row info-container last-container">
    <div class="data-row data-container">
        <div class="label-container">
            <span class="field-title required-field reverse-link">@(Model.Name)</span>
        </div>

        <div class="field-container">
            <textarea class="text-box" cols="20" readonly="readonly" rows="7">@Model.Content</textarea>

        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.UniqueId))
{
    <div class="data-row info-container last-container">
        <div class="data-row data-container">

            <div class="label-container">
                <span class="field-title required-field">@Html.GetResource("UniqueId", "Global") </span>
            </div>
            <div class="field-container">
                <span class="slide-text margin-summary UniqueID-line-height">@Model.UniqueId</span>
            </div>
        </div>
    </div>
}