<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="true"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="UserName" value="omars@noqoush.com"/>
    <add key="PassWord" value="123123"/>
    <add key="Domain" value="192.168.2.25"/>
    <add key="BaseURL" value="http://192.168.2.25:8080"/>
    <add key="LoginURL" value="/user/Login"/>
    <add key="CookieName" value="autfalcon"/>
    <add key="TimeOut" value="60000"/>
    <add key="TotalMinutes" value="100"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.1; rv:11.0) Gecko/20100101 Firefox/11.0"/>
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\logger\WarmUp\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="500"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|[%thread]|%-5level|%logger|%message%newline|%exception"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logfile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="50"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|[%thread]|%-5level|%logger|%message%newline|%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/> 
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Framework">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
        </exceptionTypes>
      </add>
      <add name="Domain">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
        </exceptionTypes>
      </add>
      <add name="Service Layer">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
        </exceptionTypes>
      </add>
      <add name="UI">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add logCategory="Error" eventId="100" severity="Error" type="ArabyAds.Framework.ExceptionHandling.LogExceptionHandler,ArabyAds.Framework" name="Error Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataCacheClient>
    <securityProperties mode="None" protectionLevel="None"></securityProperties>
    <hosts>
      <host name="localhost" cachePort="22233"/>
    </hosts>
  </dataCacheClient>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxBufferSize="20000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ArabyAds.Framework.Infrastructure.Services.Host/ResourceService.svc" binding="basicHttpBinding" contract="ArabyAds.Framework.Resources.IResourceService" name="ResourceService"/>
      <endpoint address="http://localhost/ArabyAds.Framework.Infrastructure.Services.Host/SecurityService.svc" binding="basicHttpBinding" contract="ArabyAds.Framework.Security.ISecurityService" name="STSClient"/>
      <endpoint address="http://localhost/ArabyAds.Framework.Infrastructure.Services.Host/ConfigurationSettingService.svc" binding="basicHttpBinding" contract="ArabyAds.Framework.ConfigurationSetting.IConfigurationSettingService" name="ConfigurationSettingService"/>
    </client>
  </system.serviceModel>
</configuration>
