$base-theme:Bootstrap;
$skin-name:adfalcon;
$swatch-name:Bootstrap;
$border-radius: 2rem;
$accent: #cd0000;
$secondary: #666666;
$info: #666666;
$success: #cd0000;
$warning: #999999;
$error: #cd0000;
$body-bg: #222222;
$body-color: #ffffff;
$component-bg: #333333;
$component-color: #ffffff;
$card-cap-bg: #cd0000;
$card-cap-color: #ffffff;
$series-a: #cd0000;
$series-b: #ff9900;
$series-c: #999999;
$series-d: #666666;
$series-e: #e67d4a;
$series-f: #d9534f;
