@{
    ViewBag.Title = Html.GetResource("IndexAppSite", "Titles");
}
@Html.Hidden("AppSite", "App Sites")
<script type="text/javascript">

 
    var filterTypedialog = true;

    String.prototype.format = function () {
        var s = this,
            i = arguments.length;

        while (i--) {
            s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
        }
        return s;
    };
    var filterTypeSelected = '';
    function  setFilterSelected(code)
    {
    
        filterTypeSelected = code;
        
   
        $("a[forAppSiteFilter='true']").removeClass('selected');
        $("#" + code + "-filterType").addClass('selected');
        generateAppSiteGrid();
    }
    @*function localInitilize() {
        jQuery('input[data-date="true"]')
            .daterangepicker({ dateFormat: '@ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.ClientShortDateFormat' });
    }*@

    function generateAppSiteGrid() {
        var grid = $("#AppSiteSearchGrid").data("tGrid");
        grid.rebind();
    };
    function localAppSiteSearchInitilize() {
        jQuery("input[filternamebutton='true']").keypress(function (e) {
            return e.keyCode != 13;
        });
        $("input[filternamebutton='true']").keyup(function (event) {
            if (event.keyCode == 13) {
                generateAppSiteGrid();
            }
            return event.keyCode != 13;
        });
    }
    function appSiteGridDataBinding(args) {
        args.data = $.extend(args.data,
            {
                Name: $('#AppSiteSearchDiv').find("#NameAppSite").val(),
                FilterType: filterTypeSelected,
                AccountId: accountID
            });


        //var url = args.currentTarget.baseURI.toLowerCase()
        //var data = $('#Grid table a[href*="AppSite"]');

        //for (var i = 0 ; i < data.length; i++) {

        //    data[i].outerHTML = "<span class='trimed-span' style='width:200px !important;'><a href='" + data[i] + "' title='" + data[i].innerText + "'>" + data[i].innerText + "</a></span>";
        //}

    };
    function AppSiteSearchOnRowSelected(e) {
        AppSiteId = jQuery(e.row.cells[0]).text();
        AppSiteDesc = jQuery(e.row.cells[1]).text();

        changeAppSite(AppSiteId, AppSiteDesc);

    }


</script>


@model ArabyAds.AdFalcon.Web.Controllers.Model.AppSite.ListViewModel
@using (Html.BeginForm())
{

    <div class="section-form-inner-container" id="AppSiteSearchDiv">

        @if (Model.FilterBar != null)
        {
            Html.RenderPartial("PartialViews/bar", Model.FilterBar);
        }

        <div class="grid-container">
            @(Html.Telerik().Grid(Model.Items)
                    .Name("AppSiteSearchGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.Id).HtmlAttributes(new { id = "AppSiteId" }).Hidden();
                        columns.Bound(o => o.Name).HtmlAttributes(new { id = "AppSiteName" }).Hidden();
                       
                    columns.Bound(o => o.Name).Width(200).HtmlAttributes(new { @style = "max-width: 200px;" })
                        .Template(
                        @<text><div class="grid-title-container floating-left">
                                <span class="trimed-span" style="width:200px !important;">
                                    @item.Name
                                </span>
                            </div>
                        </text>
                            ).ClientTemplate("<div class='grid-title-container floating-left'><span class='trimed-span' style='width:200px !important;'> <#= Name #></span></div>").Title(Html.GetResource("Name", "AppSite"));
                        columns.Bound(o => o.Type).Title(Html.GetResource("Type", "AppSite")).Width("70px");
                        columns.Bound(o => o.RegistrationDate).Title(Html.GetResource("RegistrationDate", "AppSite")).Width("100px").Format("{0:" + ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.ShortDateFormat + "}").HtmlAttributes(new { @class = "go-center" });
                        columns.Bound(o => o.Status).Title(Html.GetResource("Status", "AppSite")).Width("80px");
                     

                    })

.DataBinding(dataBinding =>
{
    //dataBinding.Server().Select("Index", "AppSite", new { ajax = true });
    dataBinding.Ajax().Select("_AppSiteSearch", "AppSite");

}).EnableCustomBinding(true)
.ClientEvents(clientEvents => clientEvents.OnRowDataBound("onRowDataBound").OnDataBinding("appSiteGridDataBinding").OnDataBound("appSiteGridDataBinding").OnRowSelect("AppSiteSearchOnRowSelected"))
.Scrollable(scrolling => scrolling.Enabled(false))
.Selectable()
.Pageable(paging => paging.PageSize(ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.PageSize).Total(int.Parse(ViewData["total"].ToString())).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
.Filterable(filtering => filtering.Enabled(false))
.Groupable(grouping => grouping.Enabled(true)).Footer(true))
        </div>

    </div>


}