@{
    ViewBag.Title = Html.GetResource("CampaignSettings", "Titles");
    Layout = "~/Views/HouseAd/Create/IndexMaster.cshtml";

}


<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>
