@{
    Layout = "~/Views/Shared/MasterLayouts/Inner.cshtml";
}
@model Noqoush.AdFalcon.Web.Controllers.Model.AppSite.ListViewModelBase
@using (Html.BeginForm())
{
    <div class="section-form-inner-container">
        @RenderBody()
        @if (Model.FilterBar != null)
        {
            Html.RenderPartial("PartialViews/bar", Model.FilterBar);
        }
        @if (Model.TopActions != null)
        {
            Html.RenderPartial("PartialViews/Actions", Model.TopActions);
        }
        <div class="grid-container">
            @RenderSection("Grid")
        </div>
        @if (Model.BelowAction != null)
        {
            Html.RenderPartial("PartialViews/Actions", Model.BelowAction);
        }
    </div>
}