@model  ArabyAds.AdFalcon.Services.Interfaces.DTOs.Campaign.Creative.AdCreativeSummaryDto
<div class="data-row info-container last-container">
    <div class="data-row data-container">
        <div class="label-container">
            <span class="field-title required-field">@Html.GetResource("AudioURL")</span>
        </div>
        <div class="field-container">
             <a class="side-text" href="@Model.ActionValue.Value"  target="_tab">@Model.ActionValue.Value</a>
        </div>
    </div>
</div>
 @Html.Partial("Summary/AdAction/AdActionValueTracker/Tracker")