@{
    ViewBag.Title = Model.CampaignName + " :: " + Html.GetResource("CampaignAdGroups", "SiteMapLocalizations");
    Layout = "~/Views/Campaign/IndexMaster.cshtml";
}

<div id="APP-Root">
</div>
<script src="~/ClientReactJs/Dashboard.js.gz" asp-append-version="true"></script>
