quartz.dbprovider.MySql.productName=MySQL, MySQL provider
quartz.dbprovider.MySql.assemblyName=MySql.Data
quartz.dbprovider.MySql.connectionType=MySql.Data.MySqlClient.MySqlConnection, MySql.Data
quartz.dbprovider.MySql.commandType=MySql.Data.MySqlClient.MySqlCommand, MySql.Data
quartz.dbprovider.MySql.parameterType=MySql.Data.MySqlClient.MySqlParameter, MySql.Data
quartz.dbprovider.MySql.parameterDbType=MySql.Data.MySqlClient.MySqlDbType, MySql.Data
quartz.dbprovider.MySql.parameterDbTypePropertyName=MySqlDbType
quartz.dbprovider.MySql.parameterNamePrefix=?
quartz.dbprovider.MySql.exceptionType=MySql.Data.MySqlClient.MySqlException, MySql.Data
quartz.dbprovider.MySql.useParameterNamePrefixInParameterCollection=true
quartz.dbprovider.MySql.bindByName=true
quartz.dbprovider.MySql.dbBinaryTypeName=Blob
quartz.scheduler.instanceName=SchedulerQuartzServer
quartz.scheduler.instanceId=instance_one
quartz.threadPool.type=Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount=10
quartz.threadPool.threadPriority=Normal
quartz.jobStore.misfireThreshold=60000
quartz.jobStore.type=Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType=Quartz.Impl.AdoJobStore.MySQLDelegate, Quartz
quartz.jobStore.dataSource=default
quartz.jobStore.tablePrefix=QRTZ_
quartz.jobStore.useProperties=false
quartz.jobStore.Clustered=true
quartz.jobStore.lockHandler.type=Quartz.Impl.AdoJobStore.SimpleSemaphore, Quartz
quartz.dataSource.default.connectionString=server=172.22.137.13;User Id=galeratest;Password=MrKHj6rdCp;database=adfalcon_quartz;Persist Security Info=True;Charset=utf8;
quartz.dataSource.default.provider=MySql
quartz.serializer.type=binary
